<% content_for :title, "Editing job application" %>

<div class="container">
  <div class="page-header">
    <h1>Editing Job Application</h1>
  </div>

  <%= render "form", job_application: @job_application %>

  <div class="actions" style="margin-top: 20px;">
    <%= link_to "View Details", @job_application, class: "btn btn-primary" %>
    <% if params[:return_to] == 'show' %>
      <%= link_to "← Volver a detalles", job_application_path(@job_application), class: "btn btn-secondary" %>
    <% else %>
      <%= link_to "← Volver a aplicaciones", job_applications_path, class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>
