<% content_for :title, "Editing interview stage" %>

<h1>Editing interview stage</h1>

<%= render "form", interview_stage: @interview_stage, job_application: @job_application %>

<br>

<div>
  <%= link_to "Show this interview stage", job_application_interview_stage_path(@job_application, @interview_stage) %> |
  <%= link_to "Back to interview stages", job_application_interview_stages_path(@job_application) %>
</div>
